@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Dongle", "Chicle", "Gaegu", "Arial", "sans-serif";
  }

  .head-wrap {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 20vh;
  }

  .nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 18vh;
  }

  .logoBox {
    background-color: white;
    width: 36vw;
    height: 16vh;
    padding-left: 2vh;
    padding-top: 2vh;
  }

  .logo {
    width: 32vw;
  }

  .navBox {
    display: none;
  }

  .logoBox {
    background-color: white;
    width: 36vw;
    height: 16vh;
    margin-top: -1vh;
    padding-left: 2vh;
  }

  .logo {
    width: 32vw;
    margin-top: -2vh;
  }

  .navbar {
    list-style: none;
    display: none;
  }

  .navbar:hover,
  .navul:hover {
    display: flex;
  }

  .navul {
    list-style-type: none;
    margin: auto;
    justify-content: space-between;
    display: none;
  }

  .navli {
    font-size: 4.6vh;
    font-weight: 500;
    text-align: center;
    display: none;
    text-decoration: none;
  }

  a.Alink-nav:link,
  a.Alink-nav:visited {
    color: black;
    text-decoration: none;
    font-style: normal;
  }

  a.Alink-nav:hover:not(.active) {
    color: rgba(132, 132, 132, 0.358);
    font-style: oblique;
  }

  a.Alink-nav,
  .active {
    color: #d62828;
    font-style: oblique;
    text-decoration: none;
  }

  a.Alink-nav:active {
    color: #d62828;
  }

  .loginBox {
    width: 18vw;
    margin-left: 25vh;
  }

  a#loginButton:link,
  a#loginButton:visited {
    background-color: #b22121;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 4.4vh;
    font-weight: 500;
    font-family: "Dongle", sans-serif;
    font-style: normal;
    border-radius: 1.2rem;
    width: 8.5vw;
    height: 7vh;
    border: none;
    text-align: center;
    margin-top: 4.8vh;
  }

  a#loginButton:hover,
  a#loginButton:active {
    background-color: #8f1b1b;
    color: white;
    font-style: oblique;
  }

  .barsIconBox {
    display: flex;
    background-color: white;
    width: 7vw;
    height: 12vh;
    margin-right: 5vw;
  }

  .barsicon {
    display: inline-block;
    margin-top: 0vh;
    padding-top: 4vh;
  }

  .fa-solid {
    color: black;
    font-size: 5vh;
  }
}
