* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dongle", "Chicle", "Gaegu", "Arial", "sans-serif";
}

.head-wrap {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
}

.logoBox {
  background-color: white;
}

.logo {
  width: 19vw;
  height: 18vh;
}

.navbar {
  list-style: none;
  width: 53vw;
  margin: auto;
  margin-left: 10vh;
  margin-top: 5vh;
}

.navul {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navli {
  font-size: 4.6vh;
  font-weight: 500;
  text-align: center;
}

a.Alink-nav:link,
a.Alink-nav:visited {
  color: rgba(76, 76, 76, 0.881);
  text-decoration: none;
  font-style: normal;
}

a.Alink-nav:hover {
  color: black;
  font-style: oblique;
}

a.Alink-nav:active {
  color: #d62828;
}

.loginBox {
  width: 20vh;
  margin-left: 25vh;
}

#loginButton {
  background-color: #b22121;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 4.4vh;
  font-weight: 500;
  font-family: "Dongle", sans-serif;
  font-style: normal;
  border-radius: 1.2rem;
  width: 8.5vw;
  height: 7vh;
  border: none;
  text-align: center;
  margin-top: 4.8vh;
}

#loginButton:hover {
  background-color: #8f1b1b;
  color: white;
  font-style: oblique;
}

.support-hero {
  background-image: url("Images/Support\ Hero.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: 30%;
  background-position-y: 0%;
  background-size: 100%;
  background-origin: padding-box;
  z-index: 0;
  object-fit: cover;
  object-position: 100% 100%;
  height: 80vh;
  padding-top: 12vh;
  background-color: #ffc300;
  z-index: 0;
}

.hero-text {
  margin: auto;
  width: 90vw;
  height: 40vh;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: -2vh;
  z-index: 4;
}

.headHeaderBox {
  margin: auto;
}

h1 {
  font-family: "Dongle", sans-serif;
  color: white;
  font-size: 16vh;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.2vw;
  text-align: center;
}

.heroYellow {
  color: #ffc300;
  font-weight: 600;
  font-style: oblique;
  text-shadow: 1px 2px 5px black;
}

.paraHeaderBox {
  width: 74vw;
  margin: auto;
}

.paraHeader {
  font-family: "Dongle", sans-serif;
  color: white;
  font-size: 7vh;
  font-weight: 100;
  font-style: normal;
  line-height: 7vh;
  text-align: center;
  text-shadow: 1px 2px 5px black;
}

.terms {
  display: flex;
  flex-direction: row;
  background-color: #4567b7;
  width: 612px;
  height: 198px;
  border-radius: 3rem;
  margin: auto;
  box-shadow: 1px 2px 5px black;
  margin-top: -6vh;
  z-index: 1;
}

.termsIconBox {
  display: flex;
  flex-direction: row;
  height: 21vh;
  width: 50vw;
  justify-content: space-evenly;
  margin: auto;
}

.termsIcon {
  height: 19vh;
  box-shadow: 1px 2px 5px black;
  border-radius: 1.2rem;
  padding: 1.5vh;
  background-color: black;
  border: 2.2px solid white;
  z-index: 3;
}

.termsIcon:hover {
  height: 20vh;
  box-shadow: 1px 2px 5px black;
  border-radius: 1.2rem;
  padding: 1.5vh;
  background-color: black;
  border: 2.2px solid white;
  transition: ease-out 0.3s;
  transition-delay: 0s;
}

#termsButton1,
#termsButton2,
#termsButton3 {
  width: 10vw;
  height: 15vh;
  width: 4vw;
  color: #4567b7;
  background-color: #4567b7;
  z-index: 2;
  display: inline;
  border: none;
}

.logotext {
  z-index: 4;
  margin-top: -11vh;
  display: flex;
  justify-content: space-between;
}

.lt1 {
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
}

.lt2 {
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
}

.logotext-imgBox1 {
  width: 11vw;
}

.logotext-imgBox2 {
  width: 11vw;
}

.logotext-imgBox3 {
  width: 11vw;
}

.logotext-imgBox4 {
  width: 11vw;
}

.logotext-img {
  width: 10vw;
  height: 5vh;
  opacity: 0.1;
}

.FAQ {
  height: 145vh;
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
  background-color: white;
}

.FAQ-heading {
  width: 50vw;
  height: 30vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
}

.faqHeadingTxt {
  font-family: "Dongle", sans-serif;
  color: black;
  font-size: 16vh;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.3rem;
  text-align: center;
  display: block;
}

.faqParaTxt {
  font-family: "Dongle", sans-serif;
  color: #4567b7;
  font-size: 7vh;
  font-weight: 100;
  font-style: normal;
  line-height: 7vh;
  text-align: center;
  display: block;
  margin-top: -5vh;
}

.FAQ-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 80vw;
  height: 110vh;
  box-shadow: 1px 2px 5px black;
  background-color: rgb(255, 255, 255);
  padding: 2.4vh;
  border-radius: 4rem;
  margin-bottom: 10vh;
}

.user,
.pro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

.usersHeadingTxt {
  display: block;
  font-size: 6vh;
  text-align: center;
}

.fqBbox,
.fqBbox2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55vh;
}

.FqB {
  display: flex;
  flex-direction: column;
  color: #292d32;
  width: 424px;
  height: 49px;
  background-color: #d9d9d9;
  border-radius: 7px;
}

.FqB:hover {
  display: flex;
  flex-direction: column;
  color: white;
  width: 424px;
  height: 49px;
  background-color: #ffc300;
  border-radius: 7px;
  box-shadow: 1px 2px 5px black;
}

.faqIcon {
  width: auto;
  height: auto;
  color: black;
  background-color: red;
  z-index: 8;
}

.qB {
  font-size: 4vh;
  color: #292d32;
  padding-left: 4vw;
  padding-top: 1.5vh;
}

.faqContactHeading {
  color: black;
  font-style: oblique;
  font-weight: 600;
  font-size: 6vh;
  letter-spacing: 0.3rem;
}

.faqContactPara {
  font-size: 4.4vh;
  text-align: left;
  color: black;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.1rem;
}

a.Alink-emailnumFAQ:link,
a.Alink-emailnumFAQ:visited {
  color: black;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 4.8vh;
  font-weight: 300;
  text-align: left;
}

a.Alink-emailnumFAQ:hover,
a.Alink-emailnumFAQ:active {
  color: #22b573;
  font-style: oblique;
  text-shadow: 1px 2px 5px rgb(205, 205, 205);
}

.faqsubHeading {
  color: #d62828;
  font-weight: 600;
  margin-right: 1vw;
}

.get-better {
  background-color: #ffc300;
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.get-better-wrap {
  width: 59.8vw;
}

.get-betterHeading {
  margin: auto;
  line-height: 9vh;
  text-align: right;
  padding-top: 4vh;
  padding-bottom: 1vh;
  font-size: 10vh;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-shadow: 1px 2px 5px black;
}

.get-betterPara {
  font-size: 7vh;
  text-align: right;
  line-height: 7vh;
  color: black;
  font-style: normal;
  font-weight: 300;
}

.subText {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-bottom: 5vh;
}

.pHyellow {
  color: #ffc300;
  font-style: oblique;
  font-weight: 600;
  font-size: 8vh;
  letter-spacing: 0.3rem;
}

.email-wrap {
  display: flex;
  flex-direction: row;
  width: 45vw;
  margin: auto;
  margin-top: 3vh;
  margin-right: 0vh;
}

#email {
  width: 38vw;
  height: 8vh;
  display: flex;
  background-color: rgba(255, 255, 255, 0.968);
  margin: auto;
  border-radius: 6px;
  border: 0.1rem solid rgba(132, 132, 132, 0.358);
  padding-left: 2vw;
  font-family: "Dongle", sans-serif;
  font-size: 4vh;
  text-align: left;
  color: rgb(211, 211, 211);
  z-index: 0;
}

#subButton {
  background-color: #b22121;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 4.4vh;
  font-weight: 500;
  font-family: "Dongle", sans-serif;
  font-style: normal;
  border-radius: 1.1rem;
  width: 12vw;
  height: 6.4vh;
  border: none;
  text-align: center;
  z-index: 1;
  margin-left: -19.6vw;
  margin-top: 0.8vh;
}

#subButton:hover {
  background-color: #8f1b1b;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 4.4vh;
  font-weight: 500;
  font-family: "Dongle", sans-serif;
  font-style: oblique;
  border-radius: 1.1rem;
  width: 12vw;
  height: 6.4vh;
  border: none;
  text-align: center;
}

.balanceBackg {
  width: 39vw;
  height: 50vh;
}

.balBackgImg {
  width: 39vw;
  height: 50vh;
  z-index: 0;
  object-fit: contain;
  object-position: 20% 80%;
  display: inline-block;
}

.footer {
  height: 106vh;
  background-color: #4567b7;
}

.line-up {
  height: 70vh;
  display: flex;
  justify-content: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 87vw;
  margin: auto;
  justify-content: space-between;
  padding: 6vh;
  border-top: 1.88px solid white;
  border-bottom: 1.88px solid white;
}

.company,
.services,
.support {
  width: 18vw;
  height: 50vh;
}

.legal {
  width: 24vw;
  height: 50vh;
}

.footerHeading {
  color: white;
  font-style: oblique;
  font-weight: 600;
  font-size: 6vh;
  letter-spacing: 0.3rem;
  text-shadow: 1px 2px 5px black;
}

.footul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vh;
  line-height: 8vh;
}

.footli {
  font-size: 4.8vh;
  font-weight: 300;
  text-align: left;
}

a.Alink-foot:link,
a.Alink-foot:visited {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

a.Alink-foot:hover,
a.Alink-foot:active {
  color: white;
  font-style: oblique;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-shadow: 1px 2px 5px black;
}

a.Alink-emailnum:link,
a.Alink-emailnum:visited {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 4.8vh;
  font-weight: 300;
  text-align: left;
}

a.Alink-emailnum:hover,
a.Alink-emailnum:active {
  color: #ffc300;
  font-style: oblique;
  text-shadow: 1px 2px 5px #d62828;
}

.paraTeam8 {
  font-size: 4.8vh;
  font-weight: 300;
  text-align: left;
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.1rem;
}

.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 86vw;
  margin: auto;
  margin-top: 8vh;
}

.wkhLogo {
  width: 230px;
  height: 110px;
}

.copyright {
  display: flex;
  flex-direction: row;
  height: 5vh;
  margin-top: 15vh;
}

.copyrightIcon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.pRRtextbox {
  display: inline-block;
  height: 6vh;
  margin-left: 1vw;
}

.rightsreservedtext {
  color: white;
  font-size: 4vh;
}

.socials {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 12vw;
  margin-top: 7vh;
  justify-content: space-between;
}

.socialsIcon {
  width: 28px;
  height: 28px;
  color: white;
}
